.home-wrap{

    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1903px;
    margin: 0 !important;
    padding: 0 !important;

}