.login-wrap {
  width: 100%;
  height: 100%;
  z-index: 930;

  .login-box {
    width: 100vw;
    height: 100vh;
    max-width: 640px;
    color: #333333 ;
    position: fixed;
    right: 0;
    z-index: 940;
    transition: 0.5 !important;
    transform: translateX(100%);
    background-color: white;
    display: flex;
    flex-direction: column;

    .login-box-btn{

      outline: none;
      border: none;
      background-color: black;
      color:white;
      height:60px;
      margin-top:10%;
      transition: 0.5s;
      width:100%;
    }

    .login-box-btn:hover{

      background-color: white;
      color:#333;
      border:1px solid #333
    }
    .login-box-top {
      flex: 0.1 1;
      display: flex;
      border-bottom: 1px solid #eaeaea;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 1.4rem;
        font-weight: 700;
        margin:0;
        padding:0;
        margin-left:13%;
        
      }
      button {
        width:13%;
        height:100%;
        
        outline: none;
        border: none;
        border-left:1px solid #eaeaea;
        background-color: transparent;
        color: #333333;
        font-size: 1.5rem;
        transition: 0.5s;

        
      }
      button:hover{
        background-color:lightgray;
      }
    }


    .login-box-mid{

      flex:0.45;
      display: flex;
      margin-left:13%;
      margin-top:5%;
      padding-right:13%;
      margin-bottom:5%;
      

      .login-box-mid-form{

        
        width:100%;


        .search-pw{

          
          font-size:0.7rem;
          font-weight: 300;
          cursor: pointer;
          margin-top:1%;
        }
        .search-pw:hover{
          text-decoration: underline; 
        }

        .login-box-mid-form-title{

          font-size:1.2rem;
          font-weight: 500;
      


        }

        input[type="email"]{

          margin-top:2%;
          outline: none;
          border:1px solid #eaeaea;
          border-radius: 3px;
          height:11%;
          font-size:0.9rem;
          padding-left:2%
        }

        input[type="email"]:focus{

          border:2px solid #333333;
        }
        
        input[type="password"]{

          margin-top:2%;
          outline: none;
          border:1px solid #eaeaea;
          border-radius: 3px;
          height:11%;
          font-size:0.9rem;
          padding-left:2%
        }

        input[type="password"]:focus{

          border:2px solid #333333;
        }


        
        
      }


      
    }



    .login-box-bottom{

      flex:0.45;

      border-top:1px solid #eaeaea;


      .login-box-bottom-margin{

        margin-top:5%;
        margin-left:13%;
        display: flex;
        flex-direction: column;
        padding-right:13%;
      }
      .login-box-bottom-title{

        font-size:1.2rem;
        font-weight: 500;
        margin-bottom:5%;
      }
      .login-box-bottom-content{

        font-size:0.9rem;
      }
    }
  }
}






.login-entering {
  transition: 0.5s;
}

.login-entered {
  transition: 0.5s;
  transform: translateX(0%) !important;
}




@media all and (min-width: 550px) and (max-width: 767px) {
    
  .login-box-bottom-content{
    font-size:0.8rem !important;
  }


  
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/

@media all and (max-width: 549px) {
  .login-box-bottom-content{
    font-size:0.7rem !important;
  }

}
